@model IEnumerable<ITequipment.Models.HW_SW>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hardware)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Software)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Version)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hardware.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-hid="@item.HardwareId" asp-route-sid="@item.SoftwareId">Edit</a> |
                <a asp-action="Details" asp-route-hid="@item.HardwareId" asp-route-sid="@item.SoftwareId">Details</a> |
                <a asp-action="Delete" asp-route-hid="@item.HardwareId"asp-route-sid="@item.SoftwareId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
